<!DOCTYPE html>
<html>
<head>

    {{ partial "head.html" . }}

</head>
<body>

{{ partial "header.html" . }}

{{ partial "slider.html" . }}

{{ partial "wrapper.html" . }}

{{ partial "feature.html" . }}

{{ partial "service-home.html" . }}

{{ partial "call-to-action.html" . }}

{{ partial "testimonial.html" . }}

{{ partial "footer.html" . }}

<!-- Scripts -->
{{ $scripts := resources.Get "js/app.js" | fingerprint }}
{{ with $scripts }}
<script type="text/javascript" src="{{ .Permalink | relURL }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous" defer></script>
{{ $.Scratch.Set "scripts" . }}
{{ end }}


</body>

</html>
