@import "owl-carousel/owl.carousel.min.css";
@import "cursor-effect/base-cursor-effect";

header {
  nav ul li a {
    &.active {
      color: #811cf8;
    }
  }
}

.banner {

  @media only screen and (min-width: 992px) {
    height: 100vh;
  }

  @media only screen and (min-width: 1240px) {
    .hero-title {
      font-size: 72px;
    }
  }

  .confetti {
    background: url("/img/ic_confetti.svg") no-repeat left center/cover;
    z-index: 1;
  }
}

.view-btn {
  position: absolute;
  z-index: 50;
  top: -90px;
  right: 0;

  @media only screen and (min-width: 992px) {
    top: 62px;
  }

  a {
    padding-right: 60px;
  }

  &:hover {
    .line {
      transform: translateX(-100px);
      width: 110px;
      transition: all 0.25s ease-in-out;
      right: -40px;
    }
    .line:after {
      opacity: 0;
      transition: all 0.25s ease-in-out;
    }
  }

  .line {
    display: inline-block;
    height: 2px;
    width: 44px;
    background: #811CF8;
    position: absolute;
    right: 0;
    top: 11px;
    transition: all 0.25s ease-in-out;

    &:after {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      background: currentColor;
      border-radius: 50%;
      border: 1px solid currentColor;
      position: absolute;
      right: 0;
      top: -7px;
      transition: all 0.25s linear;
    }
  }
}

.back-btn {
  position: relative;

  a {
    padding-left: 60px;
  }

  &:hover {
    .line {
      transform: translateX(100px);
      width: 110px;
      transition: all 0.25s ease-in-out;
      left: -40px;
    }
    .line:after {
      opacity: 0;
      transition: all 0.25s ease-in-out;
    }
  }

  .line {
    display: inline-block;
    height: 2px;
    width: 44px;
    background: #811CF8;
    position: absolute;
    left: 0;
    top: 11px;
    transition: all 0.25s ease-in-out;

    &:after {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      background: currentColor;
      border-radius: 50%;
      border: 1px solid currentColor;
      position: absolute;
      left: 0;
      top: -7px;
      transition: all 0.25s linear;
    }
  }
}

a {
  &.dash {
    position: relative;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), color 0.5s cubic-bezier(0.19, 1, 0.22, 1);

    &:after {
      content: '';
      display: inline-block;
      height: 2px;
      width: 70px;
      position: absolute;
      top: 50%;
      transform: scaleX(0) translateY(-50%);
      right: -20px;
      z-index: -1;
      transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      transform-origin: right center;
      background: #ccc;
    }

    &:hover {
      &:after {
        transform-origin: left center;
        transform: scaleX(1);
      }
    }
  }
}

.transition {
  transition: all 0.2s ease-in-out;
}

//Nav Menu
nav {
  li {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  .download-profile {
    display: inline-block;
    border: 1px solid #811CF8;
    padding: 8px 16px;
    border-radius: 30px;
    color: #811CF8;

    &:hover, &:focus {
      background: #811CF8;
      color: #fff;
    }
  }
}

.project-grid {
  .img-list {
    @media only screen and (min-width: 768px) {
      width: 50%;
    }

    &.project-list {
      @media only screen and (min-width: 992px) {
        width: 33.33%;

        &:nth-of-type(2),
        &:nth-of-type(3) {
          width: 33.33%;
        }
      }
    }

    @media only screen and (min-width: 992px) {
      width: 62.5%;

      &:nth-of-type(2),
      &:nth-of-type(3) {
        width: 37.5%;
      }
    }
  }

  figure {
    overflow: hidden;
    position: relative;

    &:hover {
      img {
        opacity: 1;
        transform: scale(1.15, 1.15);
      }

      figcaption {
        opacity: 1;
      }
    }

    figcaption {
      cursor: pointer;
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all 0.45s ease-in-out;

      .blur {
        background: linear-gradient(135deg, rgba(129, 28, 248, 0.9) 0%, #3863D5 100%);
        width: 100%;
        height: 100%;
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .title-wrap {
        color: #fff;
        position: relative;
        height: 100%;
        z-index: 6;
        font-family: 'Quicksand', sans-serif;
      }

      h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 16px;

        @media only screen and (min-width: 1240px) {
          font-size: 50px;
          line-height: 63px;
        }
      }

      a {
        font-size: 14px;
        text-decoration: none;
        padding: 20px;
        display: flex;
        height: 100%;

        @media only screen and (min-width: 1240px) {
          font-size: 18px;
          padding: 20px 50px;
        }

        > span {
          display: flex;
          height: 100%;
          align-items: center;
          flex-wrap: wrap;
        }
      }
    }

    img {
      transition: all 0.25s ease-in-out;
    }
  }

  img {
    height: 445px;
    transition: 0.32s ease-in-out;
  }
}

footer {
  position: relative;

  &:after {
    content: '';
    background: url("/img/ic_confetti.svg") no-repeat center/cover;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    right: 0;
  }

  &.hire-us {
    .title {
      @media only screen and (min-width: 1240px) {
        font-size: 72px;
      }
    }
  }

  .download-profile {
    display: none;
  }
}

.services {
  li {
    margin-right: 10px;
    margin-bottom: 8px;
    background: #eee;
    border-radius: 4px;
    color: #9b9b9b;
    display: inline-block;
    padding: 5px 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.project-detail-banner {
  h1 {
    font-size: 36px;
  }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 50px;
    }
  }

  @media only screen and (min-width: 992px) {
    h1 {
      font-size: 72px;
    }
  }
}

.project-detail-image {
  height: 110%;

  img {
    object-fit: cover;
    object-position: 0 0;
  }
}

//Contact form
.contact-form-wrap {
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 10px 15px 40px 0 rgba(0, 0, 0, 0.2);

  label {
    color: #9b9b9b;
  }

  input, textarea {
    border-color: #E5E5E5;
    transition: 0.2s ease-in-out;;

    &:focus {
      border-color: #801cf8;
    }
  }

  button {
    color: #fff;
    background: #801cf8;
    border-radius: 8px;
    outline: none;
    padding: 15px;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;

    &:hover, &:focus {
      transform: translateY(-2px);
      box-shadow: 10px 15px 40px 0 rgba(127, 27, 248, 0.2);
    }
  }
}

.what-we-do {
  h2 {
    @media only screen and (min-width: 1240px) {
      font-size: 72px;
    }
  }

  li {

    @media only screen and (min-width: 992px) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      border-right: 1px solid rgba(255, 255, 255, 0.2);

      &:nth-child(4) {
        border-right: 0;
      }

      &:nth-child(n+5) {
        border-bottom: 0;
      }

      &:last-child {
        border-right: 0;
      }
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

//Responsive menu

$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$menuItems: 7;

.navigation-wrapper {
  position: relative;
  z-index: 9999;

  .header {
    position: absolute;
    display: block;
    padding-top: 15px;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    overflow: hidden;
    transition: all 0.5s ease-out, background 1s ease-out;
    transition-delay: 0.2s;
    z-index: 1;

    .burger-container {
      position: relative;
      display: inline-block;
      height: 50px;
      width: 50px;
      cursor: pointer;
      transform: rotate(0deg);
      transition: all 0.3s $cubic;
      user-select: none;
      -webkit-tap-highlight-color: transparent;

      #burger {
        width: 18px;
        height: 8px;
        position: relative;
        display: block;
        margin: -4px auto 0;
        top: 50%;

        .bar {
          width: 100%;
          height: 1px;
          display: block;
          position: relative;
          background: #f67534;
          transition: all 0.3s $cubic;
          transition-delay: 0s;

          &.topBar {
            transform: translateY(0px) rotate(0deg);
          }

          &.btmBar {
            transform: translateY(6px) rotate(0deg);
          }
        }
      }
    }

    .icon {
      display: inline-block;
      position: absolute;
      line-height: 50px;
      width: 50px;
      height: 50px;
      text-align: center;
      color: #FFF;
      font-size: 22px;
      left: 50%;
      transform: translateX(-50%);

      &.icon-bag {
        right: 0;
        top: 0;
        left: auto;
        transform: translateX(0px);
        transition: transform 0.5s $cubic;
        transition-delay: 0.65s;
      }
    }

    ul.menu {
      position: relative;
      display: block;
      padding: 0px 48px 0;
      list-style: none;

      li.menu-item {
        border-bottom: 1px solid #333;
        margin-top: 5px;
        transform: scale(1.15) translateY(-30px);
        opacity: 0;
        transition: transform 0.5s $cubic, opacity 0.6s $cubic;
        @for $i from 1 through $menuItems {
          &:nth-child(#{$i}) {
            transition-delay: #{0.56 - ($i * 0.07)}s;
          }
        }

        a {
          display: block;
          position: relative;
          color: #FFF;
          text-decoration: none;
          font-size: 22px;
          line-height: 2.35;
          font-weight: 200;
          width: 100%;
        }
      }
    }

    &.menu-opened {
      height: 100%;
      width: 100%;
      background-color: #000;
      transition: all 0.3s ease-in, background 0.5s ease-in;
      transition-delay: 0.25s;

      .burger-container {
        transform: rotate(90deg);

        #burger {
          .bar {
            transition: all 0.4s $cubic;
            transition-delay: 0.2s;

            &.topBar {
              transform: translateY(4px) rotate(45deg);
            }

            &.btmBar {
              transform: translateY(3px) rotate(-45deg);
            }
          }
        }
      }

      ul.menu {
        li.menu-item {
          transform: scale(1) translateY(0px);
          opacity: 1;
          @for $i from 1 through $menuItems {
            &:nth-child(#{$i}) {
              transition-delay: #{0.07 * $i+0.2}s;
            }
          }
        }
      }

      .icon {
        &.icon-bag {
          transform: translateX(75px);
          transition-delay: 0.3s;
        }
      }
    }
  }

  .content {
    padding: 67px 4% 0;
    text-align: justify;
    overflow: scroll;
    max-height: 100%;

    &::-webkit-scrollbar {
      display: none;
    }

    h2 {
      margin-bottom: 0px;
      letter-spacing: 1px;
    }

    img {
      width: 95%;
      position: relative;
      display: block;
      margin: 75px auto 75px;

      &:nth-of-type(2) {
        margin: 75px auto;
      }
    }
  }

  @media(max-width: 600px) {
    width: 100%;
    .header {
      position: fixed;
    }
  }
}

.effect {
  &.is-animation {
    animation: kenburns-left 15s linear infinite alternate backwards;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2019-6-28 17:6:46
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-left
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 50%;
    transform-origin: 16% 50%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
    transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
}
@keyframes kenburns-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 50%;
    transform-origin: 16% 50%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
    transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
}

