.banner {
  height: 400px;

  @media only screen and (min-width: 768px) {
    height: 100vh;
  }

  .confetti {
    background: url("/img/ic_confetti.svg") no-repeat left center/cover;
    z-index: 1;
  }
}

.container {
  padding: 0 1rem;
}

a {
  &.dash {
    position: relative;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), color 0.5s cubic-bezier(0.19, 1, 0.22, 1);

    &:after {
      content: '';
      display: inline-block;
      height: 2px;
      width: 70px;
      position: absolute;
      top: 50%;
      transform: scaleX(0) translateY(-50%);
      right: -20px;
      z-index: -1;
      transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      transform-origin: right center;
      background: #ccc;
    }

    &:hover {
      &:after {
        transform-origin: left center;
        transform: scaleX(1);
      }
    }
  }
}

.transition {
  transition: all 0.2s ease-in-out;
}

//Nav Menu
nav {
  li {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }

  .download-profile {
    display: inline-block;
    border: 1px solid #811CF8;
    padding: 8px 16px;
    border-radius: 4px;
    color: #811CF8;

    &:hover, &:focus {
      background: #811CF8;
      color: #fff;
    }
  }
}

.section-projects {
  ul {
    img {
      height: 100%;
      object-position: top;
      box-shadow: 1px 1px 5px 1px rgba(39, 39, 39, 0.5);
      transition: 0.32s ease-in-out;
    }

    a {
      height: 100%;
      transition: 0.32s ease-in-out;

      &:hover {
          transform: scale(1.1);
          img {
            box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
          }
      }
    }
  }
}

footer {
  position: relative;

  &:after {
    content: '';
    background: url("/img/ic_confetti.svg") no-repeat center/cover;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    right: 0;
  }
  .download-profile {
    display: none;
  }
}

.services {
  li {
    margin-right: 10px;
    margin-bottom: 8px;
    background: #eee;
    border-radius: 4px;
    color: #9b9b9b;
    display: inline-block;
    padding: 5px 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.project-detail-banner {
  height: 300px;
  background-color: #EDF4FC;

  @media only screen and (min-width: 768px) {
    height: calc(100vh - 50px);
  }
}



.project-detail-image {
  height: 110%;

  img {
    object-fit: none;
    object-position: 0 0;
  }
}

//Contact form
.contact-form-wrap {
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 10px 15px 40px 0 rgba(0,0,0,0.2);

  label {
    color: #9b9b9b;
  }

  input, textarea {
    border-color: #E5E5E5;
    transition: 0.2s ease-in-out;;

    &:focus {
      border-color: #801cf8;
    }
  }

  button {
    color: #fff;
    background: #801cf8;
    border-radius: 8px;
    outline: none;
    padding: 15px;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;

    &:hover, &:focus {
      transform: translateY(-2px);
      box-shadow: 10px 15px 40px 0 rgba(127, 27, 248, 0.2);
    }
  }
}

.what-we-do {
  li {

    border-bottom: 1px solid rgba(255,255,255,0.2);

    @media only screen and (min-width: 992px){
      border-right: 1px solid rgba(255,255,255,0.2);

      &:nth-child(4) {
        border-right: 0;
      }

      &:nth-child(n+5) {
        border-bottom: 0;
      }

      &:last-child {
        border-right: 0;
      }
    }



    &:last-child {
      border-bottom: 0;
    }
  }
}
