{{ with .Site.Data.home.herobanner }}
<section class="px-4 pt-32 xl:pt-0 banner">
    <div class="relative container mx-auto">
        <div class="view-btn">
            <div>
                <a class="hover:text-primary transition uppercase
                    text-sm text-primary flex items-center" href="/projects" title="Project list">
                    View projects
                    <span class="line"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="relative md:h-full z-10">
        <div class="hidden confetti absolute top-0 left-0 right-0 bottom-0 w-full h-full"></div>
        <div class="container relative md:flex flex-wrap h-full items-center mx-auto">
            <div class="relative flex-1 md:max-w-5xl md:mx-auto z-10">
                <div class="lg:w-2/3">
                    <h1 class="hero-title uppercase text-black font-bold font-quicksand
                     leading-tight text-3xl lg:text-6xl mb-6 lg:mb-10">
                        {{.title}}</h1>
                    <p class="rellax md:text-xl opacity-75" data-rellax-speed="-1">{{.subtitle}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
