{{ with .Site.Data.home.herobanner }}
<section class="relative banner pt-32 md:pt-0">
    <div class="relative md:h-full">
        <div class="confetti absolute top-0 left-0 right-0 bottom-0 w-full h-full"></div>
        <div class="container md:flex flex-wrap h-full items-center mx-auto">
            <div class="relative flex-1 md:max-w-5xl md:mx-auto z-10 lg:pt-20">
                <div class="lg:w-2/3">
                    <h1 class="hero-title uppercase text-black font-bold font-quicksand leading-tight text-3xl lg:text-6xl mb-6 lg:mb-10">{{.title}}</h1>
                    <p class="md:text-xl opacity-75">{{.subtitle}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
