<form name="contact" method="POST" data-netlify="true">

    <div>
        <label for="name">Your Name</label>
        <input type="text" id="name" name="yourname" placeholder="Your name.." />
    </div>

    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Your email.." />
    </div>

    <div>
        <label for="company_name">Company Name</label>
        <input type="text" id="company_name" name="company-name" placeholder="Company name.."/>
    </div>

    <div>
        <label for="number">Contact number</label>
        <input type="number" id="number" name="contact-number" placeholder="Your contact number.."/>
    </div>

    <label for="message">Your Message</label>
    <textarea id="message" name="message" placeholder="Message.."/>

    <div>
        <button type="submit">Let's Start Working</button>
    </div>
</form>
