<div class="contact-form-wrap">
    <div>
        <form name="contact" method="POST" data-netlify="true">
            <div class="form-group mb-6">
                <label class="font-bold font-quicksand text-sm uppercase">Your Name</label>
                <div class="mt-3">
                    <input class="outline-none border rounded w-full py-3 px-4 text-black" type="text" name="name"  required/>
                </div>
            </div>

            <div class="form-group mb-6">
                <label class="font-bold font-quicksand text-sm uppercase">Your Email</label>
                <div class="mt-3">
                    <input class="outline-none border rounded w-full py-3 px-4 text-black" type="email" name="email" required/>
                </div>
            </div>

            <div class="flex flex-wrap -mx-4">
                <div class="w-full md:w-1/2 px-4 mb-6">
                    <div>
                        <label class="font-bold font-quicksand text-sm uppercase">Company Name</label>
                        <div class="mt-3">
                            <input class="outline-none border rounded w-full py-3 px-4 text-black" type="text" name="company_name" />
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2 px-4 mb-6">
                    <div>
                        <label class="font-bold font-quicksand text-sm uppercase">Contact number</label>
                        <div class="mt-3">
                            <input class="outline-none border rounded w-full py-3 px-4 text-black" type="number" name="contact_number" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-6">
                <label class="font-bold font-quicksand text-sm uppercase">Message</label>
                <div class="mt-3">
                    <textarea class="resize-y outline-none border rounded w-full py-3 px-4 text-black h-32" name="message"></textarea>
                </div>
            </div>
            <div>
                <button type="submit">
                    <span class="inline-block mr-3">
                        <img class="inline-block w-6" src="/img/ic_plane.svg" alt="">
                    </span>
                    <span>Let's Start Working</span>
                </button>
            </div>
        </form>
    </div>
</div>
