<!-- Header Start -->
{{ with $.Site.Data.menu.menu }}
<header class="absolute left-0 right-0 top-0 z-50 py-3 md:py-6">
    <div class="container mx-auto">
        <div class="flex flex-wrap justify-between items-center">
            <!-- Brand Logo -->
            <div>
                <a class="" href="/">
                    <img class="h-12" src="{{.logo}}" alt="{{ .Site.Title }} Logo">
                </a>
            </div>

            <!-- Nav links, forms, and other content for toggling -->
            <nav class="hidden md:block">
                {{ partial "menu.html" . }}
            </nav>
        </div>
    </div>
</header>
{{ end }}
<!-- Header End -->
