<!--<div class="absolute top-0 left-0 right-0" style="z-index: 100">-->
    <!--<div class="bg-orange-600 text-center py-2">-->
        <!--<p class="font-bold text-sm text-white">The site is under maintenance !!</p>-->
    <!--</div>-->
<!--</div>-->

<!-- Header Start -->
{{ with $.Site.Data.menu.menu }}
<header class="absolute left-0 right-0 top-0 z-50 py-3 md:py-6 lg:py-10">
    <div class="container mx-auto">
        <div class="flex flex-wrap justify-center md:justify-between items-center">
            <!-- Brand Logo -->
            <div>
                <a class="" href="/">
                    <img class="h-12" src="{{.logo}}" alt="{{ .Site.Title }} Logo">
                </a>
            </div>

            <!-- Nav links, forms, and other content for toggling -->
            <nav class="hidden md:block">
                {{ partial "menu.html" . }}
            </nav>
        </div>
    </div>
</header>
<!-- Header End -->

<!--Mobile Navigation-->
<div class="navigation-wrapper md:hidden">
    <div>
        <div class="header">
            <div class="burger-container">
                <div id="burger">
                    <div class="bar topBar"></div>
                    <div class="bar btmBar"></div>
                </div>
            </div>
            <div class="icon icon-apple"></div>
            <ul class="menu">
                <li class="menu-item"><a href=/about>About</a></li>
                <li class="menu-item"><a href="/projects">Projects</a></li>
                <li class="menu-item"><a class="download-profile" href="https://storage.googleapis.com/yipl-site/YNC/YandC-profile.pdf">Download Profile</a></li>
            </ul>
        </div>
    </div>
</div>

{{ end }}
