<section class="section-projects relative py-12 lg:pb-24 z-10">
    <div class="container mx-auto">
        <ul class="flex flex-wrap -mx-4 -mb-10">
            {{ with .Site.GetPage "/projects" }}
            {{ range (.Paginator 4).Pages }}
            <li class="w-full px-4 mb-10">
                <a href="{{.RelPermalink}}" class="block">
                    <img class="w-full object-cover inline-block" src="{{.Params.Image}}" alt="">
                </a>
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </div>
</section>
