<section class="rellax section-projects relative py-12 lg:pb-24 z-10" data-rellax-speed="1">
    <div class="container mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10">
            {{ with .Site.GetPage "/projects" }}
            {{ range $index, $element := (.Paginator 4).Pages }}
            <div class="rellax img-list px-4 mb-10" data-rellax-speed="{{index (slice 1 2 2 1) $index}}">
                <figure>
                    <div>
                        <img class="w-full object-cover inline-block" src="{{.Params.Image}}" alt="">
                    </div>
                    <figcaption>
                        <div class="blur"></div>
                        <div class="title-wrap">
                            <div>
                                <h2>{{.Title}}</h2>
                                <span><a href="{{.RelPermalink}}" title="{{.Title}}">View project</a></span>
                            </div>
                        </div>
                    </figcaption>
                </figure>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
