{{ define "main" }}
<section class="project-detail">
         <!--style="background-color: {{.Params.project_bg}}; color: {{.Params.project_color}}">-->
    <div class="project-detail-banner px-4 pt-32 pb-10 relative">
        <div class="relative">
            <div class="container mx-auto">
                <div class="lg:pt-10 md:pr-4 ">
                    <div class="back-btn inline-block">
                        <div>
                            <a class="hover:text-primary transition uppercase
                    text-sm text-primary flex items-center" href="/projects" title="Project list">
                                Back to Projects
                                <span class="line"></span>
                            </a>
                        </div>
                    </div>
                    <div class="mt-12 text-black">
                        <h1 class="title font-quicksand font-normal text-black">{{.Title}}</h1>
                        <div class="max-w-md mt-8">
                            <h2 class="font-quicksand text-2xl uppercase mb-5">{{.Params.block_title}}</h2>
                            <p class="leading-relaxed text-black text-lg">
                                {{.Params.block_description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="project-detail-image lg:h-auto">
        <img class="w-full h-full block" src="{{ .Params.project_banner }}" alt="{{ .Title }}" />
    </div>
    <div class="pt-10 lg:pt-16">
        <div class="container mx-auto">
            <div class="px-4 max-w-4xl lg:max-w-full mx-auto">
                <div class="flex flex-wrap -mx-4">
                    <div class="w-full md:w-1/6 px-4 mb-5">
                        <div>
                            <h2 class="font-quicksand font-normal text-black text-2xl uppercase">{{.Params.block_title_1}}</h2>
                        </div>
                    </div>
                    <div class="w-full md:w-3/6 px-4 mb-5">
                        <div>
                            <p class="lg:px-20 leading-relaxed text-lg text-black">
                               {{.Params.block_description_1}}
                            </p>
                        </div>
                    </div>

                    <div class="w-full md:w-2/6 px-4">
                        <div class="-mb-10">
                            <div class="mb-10">
                                <h4 class="font-bold font-quicksand mb-4">Services Provided</h4>
                                <ul class="services flex flex-wrap">
                                    {{ range .Params.services_provided}}
                                    <li>{{.}}</li>
                                    {{end}}
                                </ul>
                            </div>

                            {{ if .Params.website }}
                            <div class="mb-10">
                                <h4 class="font-bold font-quicksand mb-4">Website</h4>
                                <span>
                                    <a class="break-all inline-block hover:text-secondary text-primary transition"
                                       target="_blank" href="{{.Params.website}}">{{.Params.website}}</a>
                                </span>
                            </div>
                            {{ end }}

                            {{ if .Params.case_study }}
                            <div class="mb-10">
                                <h4 class="font-bold font-quicksand mb-4">Case Study</h4>
                                <span>
                                    <a class="break-all inline-block hover:text-secondary text-primary transition"
                                       target="_blank" href="{{.Params.case_study}}">{{.Params.case_study}}</a>
                                </span>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="flex flex-wrap mt-10 lg:mt-10">
            {{ range .Params.image_list}}
            <li class="w-full">
                <img class="block h-full w-full object-cover" src="{{.image}}" alt="{{.Title}}">
            </li>
            {{end}}
        </ul>
    </div>
</section>
{{ end }}
