{{ define "main" }}

<section class="pt-32 pb-10">
    <div class="container mx-auto">
        <div>
            <h1 class="text-4xl font-bold text-black font-quicksand mb-12">Y&C Works</h1>
        </div>
        <div class="flex flex-wrap -mx-4 -mb-16">
            {{ with .Site.GetPage "/projects" }}
                {{ range .Pages }}
                    <div class="w-full lg:w-1/2 px-4 mb-16">
                        <div class="mb-8">
                            <a class="block transition hover:text-primary" href="{{.RelPermalink}}" title="{{.Title}}">
                                <img  class="block object-cover shadow-2xl" src="{{.Params.Image}}" alt="{{.Title}}">
                            </a>
                        </div>
                        <span class="inline-block mb-4">{{.Params.published_date}}</span>
                        <ul class="mb-4 services flex flex-wrap">
                            {{ range .Params.services_provided}}
                            <li>{{.}}</li>
                            {{end}}
                        </ul>
                        <div class="text-2xl">
                            <h2 class="font-bold mb-2">
                                <a class="transition hover:text-primary" href="{{.RelPermalink}}" title="{{.Title}}">{{.Title}}</a>
                            </h2>
                            <span class="text-lg lg:text-base inline-block">{{.Params.subtitle}}</span>
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</section>

{{ end }}
